@model Sayfala_VM

@{
	ViewData["Title"] = "AnaSayfa";
}

@if (TempData["GuncelleSonuc"] is not null)
{
    <h2 class="text-center alert alert-success">@TempData["GuncelleSonuc"]</h2>
}

@if (TempData["Result"] != null)
{
	<h2 class="alert alert-success text-center">@TempData["Result"]</h2>
}

@if(TempData["Sonuc"] is not null)
{
    <h2 class="alert alert-success text-center">@TempData["Sonuc"]</h2>
}

<div class="row gx-4 gx-lg-5 justify-content-center">

	<div class="col-md-10 col-lg-8 col-xl-7">

        @foreach(Makale makale in Model.Makaleler)
        {
            <div class="post-preview">
                <a asp-route-id ="@makale.MakaleID" asp-controller="Home" asp-action="MakaleOku">
                    <h2 class="post-title">@makale.Baslik</h2>
                    
                </a>
                <p class="post-meta">
                    Yazan Uye
                    <a asp-route-id ="@makale.UyeID" asp-controller="Home" asp-action="YazanUyeGoruntule"> @makale.Uye.UyeAdi, @makale.Uye.UyeSoyadi</a>
                    on @makale.YazimTarihi
                    &middot @makale.OkumaSuresi Dakika Okuma
                </p>
            </div>
        }

        @*Sayfalama Butonları*@
        @for (int i = 0; i < Model.SayfaAdedi; i++)
        {
            <a asp-action="Index" asp-route-id="@i" class="btn btn-light">@(i + 1)</a>
        }
        <!-- Post preview-->
        

	</div>

</div>
