@model Makale

@{
	ViewData["Title"] = "Oku";
    ViewData["ResimYolu"] = "assets/img/post-bg.jpg";
}


<!-- Post Content-->
<article class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <h3>@Model.Baslik</h3>
                <p>
                    @Model.Icerik
                <p>
                    Yazan Kisi
                    <a asp-route-id="@Model.UyeID" asp-controller="Home" asp-action="YazanUyeGoruntule">@Model.Uye.UyeAdi, @Model.Uye.UyeSoyadi</a>
                    <br />
                    Yazar Aciklamasi
                    <br />
                    @Model.Uye.UyeAciklamasi
                </p>
            </div>
        </div>
    </div>
</article>
